input[type=text] {
width: 130px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url('searchicon.png');
background-position: center;
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
opacity: .9;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

input[type=text]{
    width: 50%;
    margin-top: 20px;
}

body{
    background-image: url('https://media.giphy.com/media/nYijNcY8PWWrK/giphy.gif');
    background-size: cover;
}

div{
    margin-top: 0%;
    margin-left: 34%;
}

button{
    padding: 10px;
    margin-left: 20px;
}

form{
    width: 90%;
    margin-top: 40px;
    margin-left: 115px;
    border: 1px solid black;
    background-color: lightblue;
    opacity: 0.6;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr,td{
    border: 2px solid white;
    padding: 20px;
}

tr:hover {
    background-color: slategray;
}

p{
    font-size: 18px;
}

#offset{
    text-align: left;
}

a:hover{
    color: white;
}

img{
    width: 300px;
    height: 300px;
}

.mySlides {
    display:none;
    width: 100%;
}
.odd{
    background-color: white;
}
.even{
  background-color: lightgray;
}
.description{
  text-align: center;
}
.thumbnail{
  margin: auto;
  display: block;
}

#load_more{
  width: 50%;
  margin: auto;
  display: block;
}
